{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h3>Profile</h3>
        <hr>
        <p>Name: {{ worker.getName }} </p>
        <p>Email: {{ worker.user.email }}</p>
        <img class="img-thumbnail" style="height: 150px; width: 150px;" src="{{ asset('images/'~ worker.user.email ~'/'~ worker.user.image ) }}">
            <hr>
        {% if (is_granted('ROLE_BOSS') or is_granted('ROLE_ADMIN')) and app.user.worker.category == worker.category %}
            {{ form_start(form) }}
            {{ form_row(form.office) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
            {{ form_end(form) }}
        {% endif %}
    {% endif %}
{% endblock %}