{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('fullcalendar/core/main.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar/daygrid/main.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar/timegrid/main.css') }}" rel='stylesheet' />
{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_row(form) }}
    <button type="submit" id="button" class="btn btn-primary" formnovalidate>Select</button>
    {{ form_end(form) }}

    <div id="calendar"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/receipt.js') }}"></script>
    <script src='{{ asset('fullcalendar/core/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/daygrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/timegrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/interaction/main.js') }}'></script>
    <script>
        $("#receipt_form_worker").on('change',function() {
            var id = $(this).val();

            renderCal(id);

        });
        function renderCal(id){
            var calendarEl = document.getElementById('calendar');
            calendarEl.innerHTML = '';

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: '{{ path('events') }}'.concat('/').concat(id),
                type: 'POST',
                scrollTime: '07:00',
                slotDuration: '00:10',
                defaultView: 'timeGridWeek',
                unselectAuto: false,
                dateClick: function (info) {
                    alert('Clicked on: ' + info.dateStr);
                }
            });

            calendar.render();
        }

        $( document ).ready(function () {
            renderCal(0);
        });
    </script>
{% endblock %}