{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('fullcalendar/core/main.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar/daygrid/main.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar/timegrid/main.css') }}" rel='stylesheet' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block body %}
    <div class="js-user-rating" data-is-authenticated="{{ app.user ? 'true' : 'false' }}">
    </div>
    {{ form_start(form) }}
        {{ form_row(form) }}
    <button type="submit" id="button" class="btn btn-primary" formnovalidate>Select</button>
    {{ form_end(form) }}

    <div id="dialog-confirm" title="Order dialog" >
        <div id="text"></div>
    </div>

    <div id="calendar"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/receipt.js') }}"></script>
    <script src='{{ asset('fullcalendar/core/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/daygrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/timegrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/interaction/main.js') }}'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $("#receipt_form_worker").on('change',function() {
            var id = $(this).val();
            renderCal(id);
        });

        var isAuthenticated = false;

        var userRating = document.querySelector('.js-user-rating');
        isAuthenticated = userRating.dataset.isAuthenticated;

        function renderCal(id){
            var calendarEl = document.getElementById('calendar');
            calendarEl.innerHTML = '';

            var value = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                selectable: true,
                firstDay: 1,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventSources: [
                    '{{ path('events') }}'.concat('/' + id)

                ],
                type: 'POST',
                scrollTime: '07:00',
                slotDuration: '00:10',
                allDaySlot: false,
                defaultView: 'timeGridWeek',
                unselectAuto: false,
                dateClick: function (info) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('check_for_reservation') }}' + '/' + id + '/' + value + '/' + info.dateStr,
                        dataType: "html",
                        success:function(result){
                            console.log(JSON.parse(result));
                            var r  = JSON.parse(result);
                            var text_value = '';
                            if (!r.correctTime) {
                                text_value = "Narudžbe moguće samo od trenutnog vremena pa do naredna 2 tjedna!";
                            } else if(!r.works) {
                                text_value = "Radnik nije dostupan u ovo vrijeme!";
                            } else if (!r.avaliable) {
                                    text_value = "Određeni servis smeta!";
                            } else {
                                text_value = "Odabrali ste servis za " + info.dateStr;
                            }
                            $("#text").text(text_value);
                            $( "#dialog-confirm" ).dialog({
                                text: text_value,
                                resizable: false,
                                height: "auto",
                                width: 400,
                                modal: true,
                                buttons: {
                                    Cancel: function() {
                                        $( this ).dialog( "close" );
                                    }
                                }
                            });
                            if(r.works && r.avaliable && r.correctTime) {
                                if (isAuthenticated == 'true')
                                {
                                    $("#dialog-confirm").dialog("option", "buttons", {
                                        "PAYPAL": function () {
                                            $(this).dialog("close");
                                            window.location.href = '{{ path('payment-pay') }}' + '/' + id + '/' + value + '/' + info.dateStr
                                        },
                                        "Pouzeče": function () {
                                            $(this).dialog("close");
                                            window.location.href = '{{ path('pouzece') }}' + '/' + id + '/' + value + '/' + info.dateStr
                                        },
                                        Cancel: function () {
                                            $(this).dialog("close");
                                        }
                                    });
                                } else {
                                    $("#dialog-confirm").dialog("option", "buttons", {
                                        "PAYPAL": function () {
                                            $(this).dialog("close");
                                            window.location.href = '{{ path('payment-pay') }}' + '/' + id + '/' + value + '/' + info.dateStr
                                        },
                                        Cancel: function () {
                                            $(this).dialog("close");
                                        }
                                    });
                                }
                            }
                        }
                    })

                }
            });

            calendar.render();
        }

        $( document ).ready(function () {
            renderCal(0);
        });
    </script>
{% endblock %}