{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('fullcalendar/core/main.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar/daygrid/main.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar/timegrid/main.css') }}" rel='stylesheet' />
{% endblock %}
{% block body %}


    {{ form_start(form) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
    {{ form_end(form) }}

    <div id="calendar"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/receipt.js') }}"></script>
    <script src='{{ asset('fullcalendar/core/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/daygrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/timegrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/interaction/main.js') }}'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                scrollTime: '07:00',
                slotDuration: '00:15',
                defaultView: 'timeGridWeek',
                unselectAuto: false,
                dateClick: function(info) {
                    alert('Clicked on: ' + info.dateStr);
                }
            });

            calendar.render();
        });



    </script>
{% endblock %}