{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-2" >
            <ul class="list group">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('service_index', {'category': 'Queue'}) }}">
                            Queue
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_BOSS') %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('service_index', {'category': 'Allowed'}) }}">
                            Allowed
                        </a>
                    </li>
                {% endif %}
                {% for category in categories %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('service_index' , {'category': category.name}) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-10" >
            {% if is_granted('ROLE_BOSS') and app.user.getWorker == service.boss%}
            <button class="btn btn-primary" onclick="openForm()">Edit</button>
            <div class="form-popup" id="myForm">
                {{ title }}
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.cost) }}
                    {{ form_row(form.duration) }}
                    {{ form_row(form.description) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                {{ form_end(form) }}
                </div>
                <a href="{{ path('service_delete', {id: service.id}) }}" class="btn btn-danger">Delete</a>
            {% endif %}
            
            <ul class="list group">
                <h1>{{ service.name }}</h1>
                <h3>{{ service.cost }} €</h3>
                <h3>{{ service.duration }} min</h3>
                <hr>
                <h4>Opis</h4>
                <p>{{ service.description }}</p>
            </ul>
        </div>
    </div>
{% endblock %}