{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {{ form_start(form) }}
            {{ form_row(form.state) }}
            {{ form_row(form.city) }}
            {{ form_row(form.address) }}
            {{ form_row(form.phoneNumber) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        {{ form_end(form) }}

        <h3>Offices</h3>
        <hr>
        {% for office in offices %}
            <p>{{ office.state }}, {{ office.city }}, {{ office.address }}</p>
            <p>{{ office.phoneNumber }}</p>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}