{% extends 'base.html.twig' %}

{% block body %}
    <h3>Offices</h3>
    {% if is_granted('ROLE_BOSS') %}
    <button class="btn btn-primary" onclick="openForm()">New Office</button>
    <div class="form-popup" id="myForm">
        {{ form_start(form) }}
            {{ form_row(form.state) }}
            {{ form_row(form.city) }}
            {{ form_row(form.address) }}
            {{ form_row(form.phoneNumber) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        {{ form_end(form) }}
        </div>

        <hr>
        {% for office in offices %}
            <p>{{ office.state }}, {{ office.city }}, {{ office.address }}</p>
            <p>{{ office.phoneNumber }}</p>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}