{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}

        <h3>Category</h3>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        {{ form_end(form) }}

        <a href="{{ path('category_delete', {id: category.id}) }}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/category.js') }}"></script>
{% endblock %}