{% extends 'base.html.twig' %}

{% block body %}
    {% for receipt in receipts %}
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Buyer: {{ receipt.buyer.firstname }} {{ receipt.buyer.lastname }}</p>
                        <p class="card-text">Worker: {{ receipt.worker.name }}</p>
                        <hr>
                        {% for service in receipt.getService %}
                        <p class="card-text">{{ service.name }}......{{ service.cost }} kn</p>
                        {% endfor %}
                        <hr>
                        <p class="card-text">{{ receipt.office.address }}</p>
                        <p class="card-text">{{ receipt.office.city }}</p>
                        <p class="card-text">{{ receipt.office.getState }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}