{% extends 'base.html.twig' %}

{% block body %}
    {% for receipt in pagination %}
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h3>{{ receipt.worker.firmName }}</h3>
                            <p>Plačanje: {{ receipt.method }}</p>
                        {% endif %}
                        <h4>Receipt number: {{ receipt.id }}</h4>
                        <p>Worker: {{ receipt.worker.user.firstname }} {{ receipt.worker.user.lastname }}</p>
                        <div class="row">
                            {% if receipt.buyer is null %}
                                <div class="col-md-8">Paypal Buyer</div>
                                <div class="col-md-4">{{ receipt.startOfService|date('H:i d-m-Y') }}</div>
                            {% else %}
                                <div class="col-md-8">Buyer: {{ receipt.buyer.firstname }} {{ receipt.buyer.lastname }}</div>
                                <div class="col-md-4">{{ receipt.startOfService|date('H:i d-m-Y') }}</div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9">{{ receipt.service.name }}</div>
                            <div class="col-md-3">{{ receipt.service.cost }}€</div>
                        </div>
                        <hr>
                        <p class="card-text">{{ receipt.office.address }}, {{ receipt.office.city }}, {{ receipt.office.getState }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}