<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}PHP Academy Zavrsni{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item active">
                    <a class="navName" href="{{ path('app_profile') }}"><img class="navImg" src="{{ asset('images/'~ app.user.email ~'/'~ app.user.image ) }}"><b>{{ app.user.firstName }} {{ app.user.lastName }}</b></a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="btn btn-secondary" role="button" href="{{ path('post_index') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="btn-group">
                <li class="nav-item active">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('method_index') }}">Payment Method</a>
                        <a class="dropdown-item" href="{{ path('category_index') }}">Category</a>
                        <a class="dropdown-item" href="{{ path('boss_index') }}">Add Boss</a>
                    </div>
                </li>
            </div>
            {% endif %}
                <li class="nav-item active">
                    <a class="btn btn-secondary" role="button" href="{{ path('service_index') }}">Services</a>
                </li>
            {% if is_granted('ROLE_BOSS') or is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="btn btn-secondary" role="button" href="{{ path('worker_index') }}">Workers</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-secondary" role="button" href="{{ path('office_index') }}">Office</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_WORKER') or is_granted('ROLE_BOSS') or is_granted('ROLE_ADMIN') %}
            <div class="btn-group">
                <li class="nav-item active">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jobs
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('receipt_view') }}">History</a>
                        <a class="dropdown-item" href="{{ path('receipt_missed_jobs') }}">Missed</a>
                        <a class="dropdown-item" href="{{ path('receipt_incoming_jobs') }}">Incoming</a>
                    </div>
                </li>
            </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <div class="btn-group">
                <li class="nav-item active">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('receipt_index') }}">History</a>
                        <a class="dropdown-item" href="{{ path('receipt_missed') }}">Missed</a>
                        <a class="dropdown-item" href="{{ path('receipt_incoming') }}">Incoming
                            {% if app.user.checkForIncomingReceipts is not empty %}
                                <i class="fas fa-exclamation"></i>
                            {% endif %}</a>
                    </div>
                </li>
            </div>
            {% endif %}
            </div>
        </ul>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if app.user is null and app.request.cookies.get('Buy') is not null %}
                <div class="btn-group">
                    <li class="nav-item">
                        <a class="btn btn-secondary" role="button" href="{{ path('bought_view') }}">
                            <i class="fas fa-receipt"></i>
                        </a>
                    </li>
                </div>
            {% endif %}
            {% if app.user is null and app.request.cookies.get('services') is not null %}
            <div class="btn-group">
                <li class="nav-item">
                    <a class="btn btn-secondary" role="button" href="{{ path('service_view') }}">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                {% if app.user.getServices is not empty %}
            <div class="btn-group">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('service_view') }}">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </div>
                    {% endif %}
            <div class="btn-group">
                <li class="nav-item">
                    <a class="btn btn-secondary" role="button" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </div>
            {% else %}
            <div class="btn-group">
                <li class="nav-item">
                    <a class="btn btn-secondary" role="button" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary" role="button" href="{{ path('app_register') }}">Registration</a>
                </li>
            </div>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bloodhound.jquery.min.js') }}"></script>
    <script src="{{ asset('js/typeahead.jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>