{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pocetna</h1>
    {% if is_granted('ROLE_BOSS') or is_granted('ROLE_ADMIN') %}
    <button class="btn btn-primary" onclick="openForm()">New Post</button>
    <div class="form-popup black-background" id="myForm">
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.image) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        {{ form_end(form) }}
    </div>
    {% endif %}

    {% for post in posts %}
        <div class="row mt-3 justify-content-md-center">
            <div class="col-lg-6 ">
                <div class="card black-background">
                    <div class="card-body">
                        <img id="img" src="{{ asset('images/posts/' ~post.image) }}">
                        <h6 class="card-subtitle mt-2 text-muted">{{ post.createdAt|date }}</h6>
                        <h1>{{ post.title }}</h1>
                        <p class="card-text">{{ post.content }}</p>
                        <a href="{{ path('post_view', {'id': post.id}) }}" class="card-link">Details</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}